@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.ql-editor {
    font-family: "Merriweather", serif;
    font-size: 20px;
    padding: 0 !important;
    /* border-left: 1px solid #ccc; */
    /* background-color: #f5f5f5; */
}
.ql-editor::before {
    left: 0 !important;
}

.ql-editor:focus {
    background-color: #fff;
    /* border-left: 1px solid white; */
}

.ql-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ql-container {
    overflow: visible !important;
    border: none !important;
}